services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=mektaba'
      - 'POSTGRES_PASSWORD=root'
      - 'POSTGRES_USER=root'
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data


volumes:
  pgdata:

